<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.uni.userBaseInfo2.mapper.UserinfoApplyMapper" >
  <resultMap id="BaseResultMap" type="edu.uni.userBaseInfo2.bean.UserinfoApply" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="university_id" property="universityId" jdbcType="BIGINT" />
    <result column="approval_main_id" property="approvalMainId" jdbcType="BIGINT" />
    <result column="info_type" property="infoType" jdbcType="INTEGER" />
    <result column="old_info_id" property="oldInfoId" jdbcType="BIGINT" />
    <result column="new_info_id" property="newInfoId" jdbcType="BIGINT" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="apply_reason" property="applyReason" jdbcType="VARCHAR" />
    <result column="apply_result" property="applyResult" jdbcType="BIT" />
    <result column="datetime" property="datetime" jdbcType="TIMESTAMP" />
    <result column="by_who" property="byWho" jdbcType="BIGINT" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, university_id, approval_main_id, info_type, old_info_id, new_info_id, start_time, 
    end_time, apply_reason, apply_result, datetime, by_who, deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from userinfo_apply
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAMId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    approval_main_id
    from userinfo_apply
    where id = #{id,jdbcType=BIGINT} and deleted = 0
  </select>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from userinfo_apply
    where by_who = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from userinfo_apply
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="edu.uni.userBaseInfo2.bean.UserinfoApply" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into userinfo_apply (university_id, approval_main_id, info_type, 
      old_info_id, new_info_id, start_time, 
      end_time, apply_reason, apply_result, 
      datetime, by_who, deleted
      )
    values (#{universityId,jdbcType=BIGINT}, #{approvalMainId,jdbcType=BIGINT}, #{infoType,jdbcType=INTEGER}, 
      #{oldInfoId,jdbcType=BIGINT}, #{newInfoId,jdbcType=BIGINT}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{applyReason,jdbcType=VARCHAR}, #{applyResult,jdbcType=BIT}, 
      #{datetime,jdbcType=TIMESTAMP}, #{byWho,jdbcType=BIGINT}, #{deleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.uni.userBaseInfo2.bean.UserinfoApply" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into userinfo_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="universityId != null" >
        university_id,
      </if>
      <if test="approvalMainId != null" >
        approval_main_id,
      </if>
      <if test="infoType != null" >
        info_type,
      </if>
      <if test="oldInfoId != null" >
        old_info_id,
      </if>
      <if test="newInfoId != null" >
        new_info_id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="applyReason != null" >
        apply_reason,
      </if>
      <if test="applyResult != null" >
        apply_result,
      </if>
      <if test="datetime != null" >
        datetime,
      </if>
      <if test="byWho != null" >
        by_who,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="universityId != null" >
        #{universityId,jdbcType=BIGINT},
      </if>
      <if test="approvalMainId != null" >
        #{approvalMainId,jdbcType=BIGINT},
      </if>
      <if test="infoType != null" >
        #{infoType,jdbcType=INTEGER},
      </if>
      <if test="oldInfoId != null" >
        #{oldInfoId,jdbcType=BIGINT},
      </if>
      <if test="newInfoId != null" >
        #{newInfoId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyReason != null" >
        #{applyReason,jdbcType=VARCHAR},
      </if>
      <if test="applyResult != null" >
        #{applyResult,jdbcType=BIT},
      </if>
      <if test="datetime != null" >
        #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="byWho != null" >
        #{byWho,jdbcType=BIGINT},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="edu.uni.userBaseInfo2.bean.UserinfoApply" >
    update userinfo_apply
    set end_time = #{endTime,jdbcType=TIMESTAMP},
      apply_result = #{applyResult,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.uni.userBaseInfo2.bean.UserinfoApply" >
    update userinfo_apply
    <set >
      <if test="universityId != null" >
        university_id = #{universityId,jdbcType=BIGINT},
      </if>
      <if test="approvalMainId != null" >
        approval_main_id = #{approvalMainId,jdbcType=BIGINT},
      </if>
      <if test="infoType != null" >
        info_type = #{infoType,jdbcType=INTEGER},
      </if>
      <if test="oldInfoId != null" >
        old_info_id = #{oldInfoId,jdbcType=BIGINT},
      </if>
      <if test="newInfoId != null" >
        new_info_id = #{newInfoId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyReason != null" >
        apply_reason = #{applyReason,jdbcType=VARCHAR},
      </if>
      <if test="applyResult != null" >
        apply_result = #{applyResult,jdbcType=BIT},
      </if>
      <if test="datetime != null" >
        datetime = #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="byWho != null" >
        by_who = #{byWho,jdbcType=BIGINT},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.uni.userBaseInfo2.bean.UserinfoApply" >
    update userinfo_apply
    set university_id = #{universityId,jdbcType=BIGINT},
      approval_main_id = #{approvalMainId,jdbcType=BIGINT},
      info_type = #{infoType,jdbcType=INTEGER},
      old_info_id = #{oldInfoId,jdbcType=BIGINT},
      new_info_id = #{newInfoId,jdbcType=BIGINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      apply_reason = #{applyReason,jdbcType=VARCHAR},
      apply_result = #{applyResult,jdbcType=BIT},
      datetime = #{datetime,jdbcType=TIMESTAMP},
      by_who = #{byWho,jdbcType=BIGINT},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>